name: Build CI

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**.md', '**.MD' ]

  pull_request:
    branches: [ master ]
    paths-ignore: [ '**.md', '**.MD' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '11'
    
    - name: Make gradlew executable
      run: chmod +x ./gradlew
    
    - name: Spotless check
      uses: gradle/gradle-build-action@v2
      with:
        arguments: spotlessCheck
    
    - name: Build debug APK
      uses: gradle/gradle-build-action@v2
      with: 
        arguments: assembleDebug --warning-mode all --stacktrace
    
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
